@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39|Press+Start+2P|ZCOOL+KuaiLe|Libre+Franklin');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */

/* Undvika horizonell scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(39, 38, 38)
}
/* Banner som täcker hela skärmen */
.fast-bakgrund img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;

}
.kontainer {
    width: 1000px;
    margin: auto;
}
/* Meny */
header {
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.384);
    border-radius: 0 0 10px 10px;
    font-family: 'Press Start 2P', cursive;
}
header h1 {
    font-weight: 100;
    font-size: 80px;
}
header nav {}
header ul {}
header li {
    display: inline;
    padding: 20px;
    font-size: 20px;
}
header li a {
    color: rgb(235, 235, 235);
    text-decoration: none;

}
header li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}
/* Titel */
main {
    font-family: 'ZCOOL KuaiLe', cursive;
}
.main {}
h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 20%;
}
.main p {
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 5px;
    font-family: 'Libre Barcode 39', cursive;
}
/* Sidans botten */

.bot {
    margin-top: 45vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 50px;
    padding-top: 100px;
}
.artister {
    margin-top: 45vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Libre Franklin', sans-serif;
}
.bot img {
    width: 350px;
}
.bot iframe {
    margin: 20px;
    width: 800px;
}
.artister img {
    width: 350px;
}
.bot p {

}
input {
    width: 30px;
    padding: 10px;
}
.bot button {
    margin-top: 80px;
    padding: 10px;
}
.artister p {
    margin-top: 65px;
}
.img2 {
    border-radius: 10px;
}
.bot a {
    color: black;
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
}
.bot a:hover {
    color: white;
    background-color: rgb(82, 82, 82);
}
footer {
    background: rgb(116, 117, 117);
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    
}
footer .first {
    margin-left: 50px;
}